[Unit]
Description=Anka Kiosk Service
After=network-online.target

[Service]
ExecStart=/usr/bin/anka-kiosk
Restart=always

[Install]
WantedBy=multi-user.target
