[Unit]
Description=Anka Watchdog Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/anka-watchdog
Restart=always
RestartSec=5
Type=simple

[Install]
WantedBy=multi-user.target
